body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  /*overflow: hidden*/
}

input{
	color: black;
}

.container-fluid{
	width: 100%;
}

.birthdaycontainer{
	z-index: 999;
	position: absolute;
	top: 50px;
}

.birthdayChoices{
	overflow-y: auto !important;
}

.rockyplay{
	margin-left: 1rem;
	font-size: 24px;
}

.rockyplay .fa-play, .rockyfapause{
	font-size: 24px;
	color: #fff;
}


.hbtext{
	color: #fff;
	text-align: center;
	/*font-size: 75px;*/
	-moz-animation-name: slideout;
	-webkit-animation-name: slideout;
	-moz-animation-duration: 15s;
	-webkit-animation-duration: 15s;
	font-family: 'Montserrat', sans-serif;
}

.name{
	height: 60px;
	width: 450px;
	font-size: 30px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.genBtn{
	display: block;
	margin-right:auto;
	margin-left: auto;
	margin-bottom: 10px;
}

a {
  color: #00B7FF;
}

.choices{
	display: none;
}

.choice{
	border: 1px solid rgb(81,81,81);
	height: 18em ;
	border-radius: 5px;
	margin: 10px;
	-webkit-animation: fadein 4s;
	-mos-animation: fadein 4s;
}

.choice img{
	width: 90%;
	height: 15em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.choiceTitle{
	text-align: center;
	font-size: 2em;
	color: #99F093;
	text-overflow: ellipsis;
  	overflow: hidden;
  	white-space: nowrap;
}

.pauseFireworks{
	position: absolute;
	width: 40px;
	height: 40px;
	top:25px;
	right: 0;
	display: none;
}

.fa.hidden{
	display: none;
}

.pauseFireworks .fa{
	color: #fff;
	cursor: pointer;
	font-size: 24px;
}

.back{
	top: 2.1em;
	left: 0;
	cursor: pointer;
	z-index: 99;
}

.back .fa{
	font-size: 24px;
	color: #fff;
}

.greeting, .quote, .randomVideo{
	cursor: pointer;
}


.youtube{
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 30em;
	width: 50%;
	border: 2px gray double;
	border-radius: 5px;
	margin-bottom: 10px;
}

.hbtextpersonal{
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.personalmessage{
	color: #fff;
	font-size: 2em;
	text-align: center;
}

/*quotes container*/

article{
	margin-top: 50px;
	background-color: rgba(0, 0, 0, 0.5);
}

blockquote p{
	font-size: 2em;
	color: #fff;
	text-align: center;
}

blockquote footer{
	text-align: center;
	color: #fff;
	font-size: 1.5em;
}


/*random content*/
.randomContent div.hidden{
	display: none;
}

.randomContent .picture img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

p.snippet{
	color: #fff;
	font-size: 2em;
	text-align: center;
}

.tryanother{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@-moz-keyframes slideout{
	from{
		font-size: 16px;
	}
	to{
		font-size: 30px;
	}
}

@-webkit-keyframes slideout{
	from{
		font-size: 16px;
	}
	to{
		font-size: 30px;
	}
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 640px){
	
	/*landscape*/
	@media only screen and (min-width: 361px){
		.choice{
			height: 360px;
		}

		.choice img{
			height: 90%;
		}

		.youtube{
			height: 22em;
			width: 65%;
		}

		.random .hbtextpersonal{
			font-size: 50px;
		}

		.randomContent{
			margin-top: 20px;
		}
	}

	/*portrait*/
	@media only screen and (max-width : 360px){
		.choice{
			height : 265px;
		}

		.hbtext{
			font-size: 25px;
		}

		span.name{
			height: 35px;
			font-size: 30px;
			width: auto;
		}

		body{
			padding: 0;
		}

		.birthdayDiv{
			width: 100%;
		}

		.greetChoice{
			font-size: 15px;
		}

		.hbtextpersonal{
			font-size: 25px;
		}

		.youtube{
			height: 18em;
			width: 90%;
		}

		@-moz-keyframes slideout{
			from{
				font-size: 1px;
			}
			to{
				font-size: 25px;
			}
		}

	@-webkit-keyframes slideout{
			from{
				font-size: 1px;
			}
			to{
				font-size: 25px;
			}
		}
	}
}
