body{
	
}


h1{
	font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: green;
    font-family: "Open Sans", sans-serif;
}

.center{
	text-align: center
}

.nostyle-li{
	list-style: none;
}

/*President List*/
.presidents{
	font-style: italic;
	color: green;
}

.presidents li{
	min-height: 250px;
	border: 1px solid black;
	clear: both;
}

.presidents li:not(:last-child){
	border-bottom-width: 0;
}


.presidents li .name, .presidents li .president-img{
	float: left;
	padding: 1rem;
}

.presidents li .president-img{
	padding: 1rem;
    max-height: 215px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 580px){
  	.presidents li {
  		min-height: 275px;
  	}
}
